*{
    padding: 0;
    margin: 0;
}

html, body{
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(236, 236, 236), rgb(255, 240, 240));
	font-family:  --apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-size: 14;
    line-height: 2;
    text-align: justify;
}

:root{
    --Dark:  #0B0B0D;
    --Color: rgb(255, 255, 255); 
}

hr{
    margin: 1rem;
}

b{
    color: #725340;
}