/* :root{
    --Dark:  rgb(10, 10, 10);
    --Color: rgb(228, 225, 225); 
} */

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Dark);
    padding: 2rem 5rem 2rem 5rem;
    color: #D9C1AB;
    height: 70vh;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: space-around;
}

.conteiner *{
    padding-top: 1rem;
}

.meImage{
    padding: 20px;
    border-radius: 20px;
}

.titleHeader{
    font-size: 40pt;
    color: #BE967E;
}

.descHeader{
    font-family: cursive;
    display: block;
    margin-left: -4rem;
}

.animateArrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18vh;
    width: 100%;
}

.arrow{
    border: solid wheat;
    border-width: 0 3px 3px 0;
    display: block;
    padding: 10px;
    transform: rotate(45deg);
    align-self: center;
}

.arrow::after{
    content: "";
    position: absolute;
    border: solid wheat;
    border-width: 0 3px 3px 0;
    display: block;
    padding: 10px;
}

.textArrow{
    font-size: 14pt;
    animation: arrowAnime 1s infinite;
    color: var(--Color);
}

.projetos{
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.itemProjetos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFF;
    box-shadow: 5px 10px 20px black;
    margin: 3rem 2rem;
}

.colProjeto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50vw;
    padding: 1rem;
}

.colProjeto h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 36pt;
    color: #BE967E;
}

.imagem{
    display: block;
    border-radius: 10px;
    transition: 1s;
}

.imagem:hover{
    backdrop-filter: blur(10px);
    opacity: 0.1;
}

.hoverEfect{
    align-self: center;
    padding: 10px;
    transition: 0.5s;
    z-index: 1;
}

.hoverEfect:hover{
    z-index: 1;
    cursor: pointer;
    background-color: #BE967E;
    border-radius: 20px;
}


@media only screen and (max-width: 768px){
    .header{
        padding: 2rem 2rem;
        height: 65vh;
    }

    .titleHeader{
        font-size: 20pt;
    }

    .textArrow{
        font-size: 12pt;
    }

    .itemProjetos{
        flex-direction: column;
        margin: 1rem 2rem;
        padding: 1rem;
    }

    .colProjeto{
        width: auto;
    }

    .colProjeto h1{
        font-size: 24pt;
    }

    .hoverEfect{
        padding: 1px;
        display: flex;
        align-items: center;
    }

    .hoverEfect:hover{
        border-radius: 0;
    }

    .imagem{
        border-radius: 0;
    }

}
