/* :root{
    --Dark:  rgb(10, 10, 10);
    --Color: rgb(228, 225, 225); 
} */

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Dark);
    padding: 2rem 5rem 2rem 5rem;
    color: #D9C1AB;
    height: 70vh;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: space-around;
}

.conteiner *{
    padding-top: 1rem;
}

.meImage{
    padding: 20px;
    border-radius: 20px;
}

.titleHeader{
    font-size: 40pt;
    color: #BE967E;
}

.descHeader{
    font-family: cursive;
    display: block;
    margin-left: -4rem;
}

.animateArrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    width: 100%;
}

.arrow{
    border: solid wheat;
    border-width: 0 3px 3px 0;
    display: block;
    padding: 10px;
    transform: rotate(45deg);
    align-self: center;
}

.arrow::after{
    content: "";
    position: absolute;
    border: solid wheat;
    border-width: 0 3px 3px 0;
    display: block;
    padding: 10px;
}

.textArrow{
    font-size: 18pt;
    animation: arrowAnime 1s infinite;
    color: var(--Color);
}

.projetos{
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.itemProjetos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.colProjeto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50vw;
    padding: 1rem;
}

.colProjeto h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 40pt;
    color: #BE967E;
}


@media only screen and (max-width: 768px){
    .header{
        padding: 2rem 2rem;
        height: 65vh;
    }

    .titleHeader{
        font-size: 20pt;
    }

    .textArrow{
        font-size: 16pt;
        animation: arrowAnimeMobile 1s infinite;
    }

    .itemProjetos{
        flex-direction: column;
        margin: 1rem 2rem;
    }

    .colProjeto{
        width: auto;
    }

    .colProjeto h1{
        font-size: 30pt;
    }

}

@keyframes arrowAnime{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 1rem;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes arrowAnimeMobile{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 10px;
    }
    100%{
        margin-top: 0px;
    }
}